:root {
	--background-main: rgb(34, 39, 46);
	--background-secondary: rgb(41, 48, 58);
	--background-semi-light: rgb(52, 62, 75);
	--background-light: rgb(79, 97, 122);

	--white: rgb(230, 230, 230);
	--light-gray: rgb(180, 180, 180);
	--gray: rgb(150, 150, 150);

	--gray-20: rgb(150, 150, 150, 0.2);

	--accent: rgb(255, 90, 160);
	--accent-60: rgb(255, 90, 160, 0.6);
	--accent-30: rgb(255, 90, 160, 0.3);
}

body {
	background-color: var(--background-main);
	color: var(--white);

	font-family: Roboto;

	margin: 0 calc(calc(100% - 600px) * 0.3);
}

.main-block {
	margin: 10px;
	padding: 15px;
	background-color: var(--background-secondary);
	border-radius: 10px;
}

/* ----- HEADER ----- */

#header {
	z-index: 2;

	position: sticky;
	top: 0;

	margin-top: 0px;
	
	max-height: 20px;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	background-color: var(--background-light);
	border-radius: 0px 0px 10px 10px;
}

#header img {
	height: 20px;
}

#burger-button {
	display: none;
}

#logo {
	display: flex;
	justify-content: flex-start;
}

#settings-button {
	display: flex;
	justify-content: flex-end;
}

#burger-checkbox {
	display: none;
}

/* ----- MAIN ----- */

#main {
	display: grid;
	align-items: start;
	grid-template-columns: 90px 1fr;
}

/* ----- LEFT LIST ----- */

#own-profile-button {
	display: inline-block;
	width: 100%;
}

#own-profile-button img {
	border-radius: 100%;
	width: 28px;
	padding: 6px;
	background-color: var(--background-light);
}

/* ----- PROFILE PAGE ----- */

#main-content {
	display: grid;
	align-items: start;
	grid-template-columns: 250px 3fr;
}

/* ----- LEFT PROFILE TAB ----- */

.profile-left-block {
	padding: 0;
	position: relative;
}

#main-profile-top-block {
	height: 110px;
}

#banner {
	background-color: var(--accent);
	height: 70px;
	border-radius: 10px 10px 0px 0px;
}

#avatar {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid var(--background-secondary);
}

#main-profile-info {
	display: inline-block;
	margin: 15px;
}

#user-display-name {
	font-size: 1.7em;
	font-weight: 600;
	overflow-wrap: anywhere;
	margin: 4px 0px;
	color: var(--accent);
}

#user-tag {
	margin: 2px 0px 6px 0px;
	color: var(--gray);
	font-weight: 300;
}

#user-pronouns {
	display: inline-block;
	margin: 4px 0px 0px 0px;
	padding: 4px;
	background-color: var(--accent-30);

	border: 2px solid var(--accent-60);
	border-radius: 5px;

	font-weight: 400;
	font-size: 0.9em;
}

.main-block-divider {
	margin: 15px 0px;
	height: 2px;
	background-color: var(--gray-20);
}

#user-bio {
	font-size: 0.95em;
	color: var(--light-gray);
}

#user-bio br {
	margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
	body {
		margin: 0;
	}

	#header {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#logo {
		justify-content: center;
	}

	#burger-button {
		display: flex;
		width: fit-content;
	}

	#left-list {
		z-index: 1;

		position: fixed;
		top: 0;
		
		margin: 0;
		padding-top: 80px;
		
		transform: translateX(-150%);
		transition: transform 0.5s ease-in-out;

		width: 60%;
		height: 100%;

		background-color: var(--background-semi-light);
		border-radius: 0px 10px 10px 0px;
	}

	#burger-checkbox:checked ~ #left-list {
		transform: translateX(0);
	}

	#main {
		display: block;
	}
}
