:root {
	--accent: rgb(80, 200, 80);
	--red: rgb(200, 80, 80);
}

h1 {
	color: var(--accent);
	padding: 20px;
	background-color: var(--background-light);
}

form {
	background-color: var(--background-secondary);
	padding: 1em;
}

.form-field {
	display: flex;
	align-items: center;
	padding: 10px;
	position: relative;
	height: 3em;

	border-bottom: 1px solid var(--background-light);
}

input {
	margin-left: 10px;
	background-color: var(--background-lighter);
	border: none;
	color: var(--white);
	padding: 0.25em;
}

input:focus {
	outline: 1px solid var(--white);
}

input + span {
	padding-right: 30px;
}

input:invalid + span::after {
	position: relative;
	content: "✖";
	padding-left: 10px;
}

input:valid + span::after {
	position: relative;
	content: "✓";
	padding-left: 10px;
}

.delete-account {
	padding: 20px;
	background-color: var(--background-secondary);
}

.delete-account > a {
	color: var(--red);
}

.go-back {
	padding: 20px;
	background-color: var(--background-secondary);
}

.go-back > a {
	color: var(--accent);
}