/* ----- MAIN ----- */

#main {
	display: grid;
	align-items: start;
	grid-template-columns: 56px 1fr;
	height: calc(100% - 60px);
}

/* ----- LEFT LIST (NAV) ----- */

#nav {
	overflow-y: scroll;
	scrollbar-width: none;
	height: calc(100% - 16px);

	padding: 8px;
	background-color: var(--background-dark);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#nav::-webkit-scrollbar {
	width: 0;
}

.nav-line {
	display: flex;
	align-items: center;
	gap: 8px;
}

.nav-button {
	display: block;
	width: 40px;
	height: 40px;
	background-color: var(--background-light);
	border-radius: 100%;
}

.nav-button img {
	border-radius: 100%;
	width: 40px;
}

.nav-username {
	display: none;
}

/* ----- PROFILE PAGE ----- */

#profile {
	display: grid;
	align-items: start;
	grid-template-columns: 350px 1fr;
	height: 100%;
	overflow: hidden;
}

#profile br {
	margin-bottom: 5px;
}

/* ----- FIRST PROFILE TAB ----- */

#profile-info {
	background-color: var(--background-secondary);
}

#profile-main-block {
	padding: 0;
	position: relative;
}

#banner-wrapper {
	height: 110px;
}

#banner {
	background-color: var(--accent);
	height: 70px;
}

#avatar {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid var(--background-secondary);
}

#profile-main-info {
	padding: 15px;
	box-sizing: border-box;
}

#user-display-name {
	font-size: 1.7em;
	font-weight: 600;
	overflow-wrap: anywhere;
	margin: 4px 0px;
	color: var(--accent);
}

#user-tag {
	margin: 2px 0px 6px 0px;
	color: var(--gray);
	font-weight: 300;
}

#user-bio {
	color: var(--light-gray);
}

/* ----- SECOND PROFILE TAB ----- */

#profile-secondary-block {
	color: var(--light-gray);
}

#profile-secondary-block > div {
	padding: 10px 15px;
}

#profile-buttons,
#user-follow-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#follow-button,
#message-button {
	margin-right: 5px;
	margin-left: 5px;
}

.follow-number {
	color: var(--white);
	font-size: 1.2em;
	font-weight: 500;
}

#user-location,
#user-birthday {
	margin-bottom: 5px;
}

.pronoun {
	display: inline-block;
	padding: 4px;

	background-color: var(--accent-30);
	color: var(--white);

	border: 2px solid var(--accent-60);
	border-radius: 5px;

	font-weight: 400;
}

#profile-secondary-block img {
	width: 1em;
	margin-right: 1ch;
}

/* ----- POSTS TAB ----- */

#create-post {
	display: flex;
	align-items: center;
	gap: 20px;
	border-bottom: 2px solid var(--background-secondary);
}

#create-post > textarea {
	resize: none;
	background-color: var(--background-light);
	border: none;
	border-radius: 5px;
	width: 100%;

	padding: 5px;
	font-size: 1rem;
	color: var(--very-light-gray);
	font: inherit;
}

#create-post > textarea:focus {
	outline: 1px solid var(--white);
	caret-color: var(--white);
}

#profile-posts {
	background-color: var(--background-dark);
	display: flex;
	flex-direction: column;
}

.post {
	position: relative;
	display: inline-block;
	max-width: 100%;
	overflow-wrap: anywhere;
	color: var(--very-light-gray);

	border-bottom: 2px solid var(--background-secondary);
}

.post-heading, .post-author {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 5px;
}

.post-avatar {
	position: absolute;
	left: 20px;
	top: 15px;

	width: 40px;
	height: 40px;

	background-color: var(--background-light);
	border-radius: 100%;
}

.post-author {
	position: absolute;
	left: 70px;
	top: 15px;
}

.post-author-name {
	font-size: 1.4em;
	font-weight: 500;
	color: var(--accent);
}

.post-author-tag {
	font-size: 1em;
	color: var(--gray);
	font-weight: 300;
}

.post-text {
	margin-top: 24px;
	margin-left: 50px;
}

.post-timestamp {
	font-size: 0.9em;
	font-weight: 300;
	color: var(--gray);
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-left: 50px;
}

.post-reactions {
	margin-top: 10px;
	display: flex;
	gap: 5px;
	margin-left: 50px;
}

.add-reaction-button {
	opacity: 0.5;
}

.post-reactions img {
	width: 20px;
}

@media (width > 800px) {
	html {
		overflow: hidden;
		height: 100vh;
	}

	#profile-info,
	#profile-posts {
		height: 100%;
		overflow-y: scroll;
	}
}

@media handheld, (width <= 800px) {
	body {
		margin: 0;
	}

	#header {
		margin: 0;
	}

	#logo {
		justify-content: center;
	}

	#burger-button {
		display: flex;
		width: fit-content;
	}

	#nav {
		z-index: 1;

		position: fixed;
		top: 0;
		left: -100vw;

		margin: 0;
		padding: 0;

		transition: transform 0.5s ease-in-out;

		width: 50%;
		height: 100%;

		background-color: var(--nav-mobile-color);
		border-radius: 0px 10px 10px 0px;
	}

	#nav {
		background-color: var(--nav-mobile-color);
		padding: 80px 25px;
		margin: 0;
	}

	#burger-checkbox:checked ~ #nav {
		transform: translateX(100vw);
	}

	.nav-username {
		display: inline;
	}

	#main {
		display: block;
	}

	#profile {
		margin: 5px;
		grid-template-columns: none;
		height: 100%;
		overflow-y: scroll;
	}

	#profile-info {
		display: grid;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr;
	}

	.generic-block {
		margin: 5px;
	}
}

@media handheld, (width <= 600px) {
	#profile-info {
		display: block;
	}

	#profile-main-block {
		margin-bottom: 10px;
	}
}
